h1 {text-align: center;}
h2 {text-align: center;}

#egg {
  margin-left: 25px;
  margin-right: 800px;
  border: solid black 1px;
  background-color: white;
  font-weight: bold;
  font-size: 10px;
  line-height:25px;
  margin-bottom: 10px;
}

#oil {
  margin-left: 800px;
  margin-right: 25px;
  border: solid black 1px;
  background-color: white;
  font-weight: bold;
  margin-top: -350px;
  font-size: 10px;
  line-height:25px;
  margin-bottom: 10px;
}
