#main {
  background-color:beige;
}

#content {
  margin-left: 10px;
  margin-right: 10px;
  border: solid black 1px;
  background-color: white;
  width: 500px
}

#body {
    margin-left: 10px;
    margin-right: 10px;
    border: solid black 1px;
    background-color: white;
    width: 500px
}
