#main {
  background-color:beige;
}

#content {
    background-color: grey;
    width: 500px;
    min-width: 300px;
    padding: 10px
    border: solid 1px #444444;
    font-size: 20px;
}

#labs {
    background-color: grey;
    width: 500px;
    min-width: 300px;
    padding: 10px
    margin: 10px:auto;
    border: solid 1px #444444;
    font-size: 20px;
}
