#main {
  background-color:beige;
}

#my-portrait {
    width: 300px
    height: 400px
    margin-right: 20px;
    border: solid 1px black;
}

#content {
    background-color: lightgrey;
    width: 500px;
    min-width: 300px;
    padding: 10px
    margin: 10px:auto;
    border: solid 1px #444444;
    font-size: 20px;
}

#labs {
    background-color: lightgrey;
    width: 500px;
    min-width: 300px;
    padding: 10px
    margin: 10px:auto;
    border: solid 1px #444444;
    font-size: 20px;
}
