h1 {text-align: center;}
body{
  background-color: beige;
  padding: 20px;
}

#summary {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  border: solid black 1px;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  line-height:25px;
  margin-bottom: 10px;
}

#content {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  border: solid black 1px;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  line-height:25px;
  margin-bottom: 10px;
}


div#input, div#output {
  margin-left: 100px;
  margin-right: 100px;
  border: solid black 1px;
  background-color: white;
    padding: 20px;
}

#output p {
    margin-top: 0;
    margin-bottom: 0;
}

#output.cols {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
}

.error {
    color: red;
    font-weight: bold;
}
